<div class="list-users-item" [ngClass]="{'is-delete': isDeleted}">
  <div class="list-users-item__content">
    <div class="list-users-item__date">
      {{ model.Username }}
    </div>

    @if (model.isActive) {
      <tui-badge appearance="positive">
        <span class="list-users-item__span">Активный</span>
      </tui-badge>
    } @else {
      <tui-badge appearance="negative">
        <span class="list-users-item__span">Неактивный</span>
      </tui-badge>
    }

    @if (model.Role === 'admin') {
      <tui-badge appearance="negative">
        <span class="list-users-item__span">Админ</span>
      </tui-badge>
    } @else if (model.Role === 'user') {
      <tui-badge appearance="positive">
        <span class="list-users-item__span">Пользователь</span>
      </tui-badge>
    }

    <div (click)="$event.stopPropagation()" class="list-users-item__popup-menu">
      <tui-icon
        icon="@tui.ellipsis"
        [tuiDropdown]="template"
        [(tuiDropdownOpen)]="open"
      >
      </tui-icon>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="list-users-item__popup">
    @if (model.isActive) {
    <button class="list-users-item__popup-item" (click)="blockUser($event)">Заблокировать</button>
    } @else {
    <button class="list-users-item__popup-item" (click)="unblockUser($event)">Разблокировать</button>
    }
    <button class="list-users-item__popup-item" (click)="deleteUser($event)">Удалить</button>
    @if (model.Role === 'admin') {
      <button class="list-users-item__popup-item" (click)="removeAdminUser($event)">Разжаловать</button>
    } @else if (model.Role === 'user') {
      <button class="list-users-item__popup-item" (click)="makeAdminUser($event)">Сделать администратором</button>
    }
  </div>
</ng-template>
