@import "../../../../variables";

.content-block {

  &__container {
    width: 740px;
  }

  &__head {
    position: relative;
    padding: 16px 8px;
  }

  &__main {
    margin-top:40px;
    height: 500px;

    background-color: $fon-3;
  }

  &__action-menu {
    position: absolute;
    right: 8px;
  }

  &__action-menu-icon {
    cursor: pointer;
  }

  &__file-input {
    margin: 0 0 10px 0;
  }

  &__button {
    margin-top: 16px;
  }

}
