@import "../../../../variables";

.content-block {

  &__container {
    width: 740px;
  }

  &__head {
    position: relative;
    padding: 16px 8px;
  }

  &__main {
    max-width: 724px;
    font-size: 20px;
    line-height: 28px;

    color: #D9D9D9;
  }

  &__main-title {
    margin: 40px 0 20px;
    font-size: 24px;
    line-height: 30px;

    color: #D9D9D9;
  }

  &__action-menu {
    position: absolute;
    right: 8px;
  }

  &__action-menu-icon {
    cursor: pointer;
  }

  &__file-input {
    margin: 0 0 10px 0;
    background-color: $accent-color2;
  }

  &__files {
    background-color: $accent-color2;
  }

  &__button {
    margin-top: 16px;
  }

}
