<div class="content-block__container">
  <div class="content-block__head">
    <div *ngIf="fileUrl">
      <div class="content-block__file" *ngIf="selectedFile?.type?.startsWith('video/')">
        <video controls [src]="fileUrl" width="400"></video>
      </div>
      <div class="content-block__file" *ngIf="selectedFile?.type?.startsWith('audio/')">
        <audio controls [src]="fileUrl"></audio>
      </div>
    </div>
    <div class="content-block__action-menu">
      <input #fileInput type="file" accept="audio/*,video/*" (change)="onFileSelected($event)" hidden>
      <tui-icon class="content-block__action-menu-icon" icon="close"/>
      <tui-icon class="content-block__action-menu-icon" icon="attach_file" (click)="triggerFileInput()"/>
      <tui-icon class="content-block__action-menu-icon" icon="arrow_forward" (click)="onUpload()"/>
    </div>
  </div>

  <div class="content-block__main">

  </div>
</div>
