<div class="content-block__container">
  <div class="content-block__head">

    <label
      tuiInputFiles
      class="content-block__file-input"
    >
      <input
        #fileInput
        tuiInputFiles
        type="file"
        accept="audio/*,video/*"
        (change)="onFileSelected($event)"
        [formControl]="control"
      >
    </label>

    <tui-files class="content-block__files">
      <tui-file
        *ngIf="selectedFile"
        [file]="selectedFile"
        (remove)="removeFile()"
        [size]="'l'"
      />
    </tui-files>

    <button
      class="content-block__button"
      size="xl"

      tuiButton
      type="button"
      [disabled]="!selectedFile || loading"
      (click)="onUpload()"
    >
      Сгенерировать ревью по встрече
    </button>
  </div>
</div>
@if (showVideoResult && videoId) {
  <div class="content-block__main-title">
    Отчет о встече:
  </div>
  <div class="content-block__main">
    {{ videoResult }}
  </div>
} @else {
  <div class="content-block__main">

  </div>
}

