@import "../../../../variables";

.list-users {
  &__container {
    width: 320px;
  }

  &__header {
    padding: 8px;
    font-family: var(--tui-font-text), sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: $accent-color2;
    border-bottom: 1px solid $line;
  }

  &__items {
    margin-bottom: 10px;
  }

  &__add-button {
  }

  &__search {
    cursor: pointer;
  }

  &__footer {
    display: flex;
    justify-content: end;
  }

  &__footer-icon {
    height: 32px;
    width: 32px;
  }
}
