<section class="list-users__container">
  <div class="list-users__header">
    Пользователи
  </div>
  <div class="list-users__items">
    @for (video of listUsers; track video.Username) {
      <list-users-item [model]="video"></list-users-item>
    }
  </div>

  <button
    size="xs"
    tuiButton
    type="button"
    [tuiDropdown]="template"
    [(tuiDropdownOpen)]="openAddMenu"
  >
    Добавить
  </button>
</section>

<ng-template #template>
  <form class="list-users__popup-add-menu" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <tui-input formControlName="username" class="list-users__popup-add-menu-control">
      Type an username
      <input
        tuiTextfieldLegacy
        type="text"
      />
    </tui-input>
    <tui-input formControlName="email" class="list-users__popup-add-menu-control">
      Type an email
      <input
        tuiTextfieldLegacy
        type="email"
      />
    </tui-input>
    <tui-input formControlName="password" class="list-users__popup-add-menu-control">
      Type an password
      <input
        tuiTextfieldLegacy
        type="password"
      />
    </tui-input>

    <button
      class="list-users__add-button"
      size="l"
      tuiButton
      type="button"
      [disabled]="addForm.invalid"
      (click)="onSubmit()"
    >
      Добавить
    </button>
  </form>
</ng-template>

