@import '@taiga-ui/core/styles/taiga-ui-local';
:root {

}


//Цвета
$fon-primary: #000;
$fon-secondary: #FFF;

$accent-color1: #FEF7FF;
$accent-color2: #F3EDF7;
$accent-color3: #EADDFF;


//Шрифты
$font-size-base: 16px;
$font-color1: #FFF;
$font-color2: #1D1B20;
