//Цвета
$primary-color: #000;
$secondary-color: #FFF;
$list-color: #FEF7FF;
$list-color2: #F3EDF7;
$list-item-color: #EADDFF;
//Шрифты
$font-size-base: 16px;
$font-color1: #FFF;
$font-color2: #1D1B20;
