<div class="list-videos-item" [ngClass]="{'is-delete': isDeleted}">
  <div class="list-videos-item__content">
    <div class="list-videos-item__date">
      {{ model.CreatedAtDate }}
    </div>
    <div class="list-videos-item__time">
      {{ model.CreatedAtTime }}
    </div>

    @if (model.Status === 'Processing') {
      <tui-badge appearance="warning">
        <span class="list-videos-item__span">В Обработке</span>
      </tui-badge>
    } @else if (model.Status === 'Transcribed') {
      <tui-badge appearance="positive">
        <span class="list-videos-item__span">Обработан</span>
      </tui-badge>
    } @else {
      <tui-badge appearance="negative">
        <span class="list-videos-item__span">Ошибка</span>
      </tui-badge>
    }

    <div (click)="$event.stopPropagation()" class="list-videos-item__popup-menu">
      <tui-icon
        icon="@tui.ellipsis"
        [tuiDropdown]="template"
        [(tuiDropdownOpen)]="open"
      >
      </tui-icon>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="list-videos-item__popup">
    <button class="list-videos-item__popup-item" (click)="deleteItem($event)">Удалить</button>
    <button class="list-videos-item__popup-item" (click)="downloadAudio($event)">Скачать</button>

  </div>
</ng-template>
