@import "../../../variables";

.list-videos-item {
  cursor: pointer;
  background-color: $accent-color3;
  border-bottom: 1px solid $line;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  &__popup {
    width: 150px;
  }

  &__popup-item {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.1s;

    &:hover {
      background-color: $accent-color2;
    }
  }

  &.is-delete {
    display: none;
  }
}
